/* VARIABLES */
:root {
    /* TEXT VARIABLES */
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #8d9cab;
    --text-orenge: #f5aeae;
    --text-yollow: #feec8b;
    --body-font: "Roboto", sans-serif;
    --heading-font: 'Kaushan Script', cursive;
    --heading-font-size: 25px;
    --h1-size: 100px;
    --h1-height: 108px;
    --h2-size: 50px;
    --h2-height: 75px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --subtitle-size: 30px;
    --subtitle-height: 35px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 15px;
    --secondary-text-height: 18px;
    --button-size: 16px;
  
    /* SPACING VARIABLES */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 72px;
    --standard-width: 1144px;
    /* COLOR VARIABLES */
    --yollow-1: #feec8b;
    --orenge-1: #f27878;
    --yoolow-2: #fce38a;
    --pest-1: #95e1d3;
    --primary-accent: #0a2540;
    --primary-button-hover: #6d7a88;
    --bg-white: #fff;
    --bg-light: #f7f9fc;

    --standard-box-shadow: 5px 5px 5px #95e1d3;
    --primary-gradient: linear-gradient(
      33.33deg,
      #e6818d,
      #eacc82
    );
  }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow-x: hidden;
}
/* Layout style */
.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 400;
}

.subtitle {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size) !important;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 10px 0 30px 0;
    /* box-sizing: border-box; */
    font-size: var(--h4-size);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

 h2::before {
    content: "";
    position: absolute;
    /* top: 0; */
    width: 50px;
    height: 2px;
    background-color: var(--orenge-1);
    margin: 60px 0 0 0;
}
/* Layout style end */
/* Owl start */
#owl-posi .owl-item {
    height: 100vh;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 18%;
}

#owl-posi .owl-theme .owl-dots .owl-dot span{
    width: 200px;
    height: 2px;
    background-color: var(--bg-white);
}

#owl-posi .owl-theme .owl-dots .owl-dot.active span, #owl-posi .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--orenge-1);
}

#owl-posi {
    position: relative;
    top: 0;
}
/* Owl end */
/* Navbar start */
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav .navbar {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
}

#mogo {
    color: var(--text-light);
    font-weight: 700;
    font-size: 30px;
}

.main-nav .navbar ul {
    display: flex;
}

.main-nav .navbar ul li a {
    margin: 0 var(--spacing-md);
    color: var(--text-light);
    text-transform: uppercase;
}

.main-nav .navbar ul li a:hover {
    color: var(--yollow-1);
    border-bottom: 2px solid var(--yollow-1);
    padding-bottom: var(--spacing-sm);
}

.main-nav .navbar ul li .non-line:hover {
    border-bottom: none !important;
}
/* Navbar end */
/* Main-header start */
.main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
}

.main-header p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: var(--heading-font);
    color: var(--text-light);
    margin: 0;
}

.main-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    font-size: var(--h1-size);
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    line-height: .95;
}

.main-header h1::after {
    content: '';
    position: absolute;
    bottom: 70px;
    background-color: var(--bg-white);
    width: 50px;
    height: 2px;
}

.main-header .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xl) 0 0 0;
    color: var(--text-light);
    border: 2px solid #fff;
    padding: 3px 15px;
    transition: all .20s;
}

.main-header a:hover {
    box-shadow: 4px 4px 2px 0px #fff;
}
/* Main-header end */
/* Header number start */
.header-num {
    position: absolute;
    bottom: 5px;
    left: 145px;
    z-index: 1;
    display: flex;
}

.header-num li {
    margin: 0 var(--spacing-xxl);
    list-style: none;
    color: var(--text-light);
    text-transform: uppercase;
}
/* Header number end */

/* What we do start */
.main-what {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.main-what .section-container .what-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .main-what .section-container .what-section h2 {
    margin: 0 0 10px 0;
} */

.main-what .section-container p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: var(--secondary-text-size);
}

.main-what .section-container .p-opa {
    color: var(--text-grey);
    margin: 30px 0 0 0;
}
/* img-section start */
.img-section {
    margin: 5rem 0;
}

.img-section .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    width: 100%;
    
}

.img-section .img-grid .image {
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.img-section .img-grid .image:hover {
    box-shadow: 9px 9px 0px #95e1d3;
}

.img-section .img-grid .tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: var(--subtitle-size);
    letter-spacing: 2px;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 400ms;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-gradient);
}

.img-section .img-grid .image:hover .tittle {
    opacity: 1;
}

.img-section .img-grid img {
    width: 100%;
}
/* img-section end */
/* What we do end */
/* counter-section start */
.main-coun {
    display: flex;
    justify-content: center;
    background-color: var(--pest-1);
}

.main-coun .section-container .coun-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.main-coun .section-container .coun-grid .coun-item {
    border-left: 1px solid #e7dfdf;
    padding: 50px 0;
}

#coun-right {
    border-right: 1px solid #e7dfdf;
}

.main-coun .section-container .coun-grid .coun-item h1 {
    font-size: var(--h2-size);
}

.main-coun .section-container .coun-grid .coun-item h1,.main-coun .section-container .coun-grid .coun-item p {
    margin: 5px 0 5px 0;
    color: var(--text-light);
}
/* counter-section end */
/* We work with start */
.main-work {
    display: flex;
    justify-content: center;
    margin: 5rem 0 3rem 0;
}

.main-work .section-container .subtitle,.main-work .section-container h2 {
    display: flex;
    justify-content: center;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin: 80px 0 0 0;
}

.work-grid .work-item {
    display: flex;
}

.work-grid .work-item .work-letter {
    margin: 0 0 0 30px;
}

.work-grid .work-item .work-letter h5 {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}

.work-grid .work-item .work-letter p {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    width: 80%;
}

.work-grid .work-line {
    border-bottom: 1px solid #aca7a755;
    padding: 0 0 35px 0;
}
/* We work with  */
/* For all devices start */
.main-devices .back-img img {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 20px 0 0 0;
}

.main-devices .back-img .section-container {
    position: relative;
    margin: 70px 0 0 0;
}

#devices-center {
    display: flex;
    justify-content: center;
}

.main-devices .back-img .section-container .display-img {
    display: flex;
    justify-content: center;
}

.main-devices .back-img .section-container .display-img img {
    width: 400px;
    height: 457px;
}

.main-devices .back-img .section-container .white-img img {
    top: 280px;
    right: 260px;
    width: 200px;
    height: 350px;
    margin: 0;
    padding: 0;
}
/* For all devices end */
/* Service start */
.main-service {
    position: relative;
    top: 530px;
    display: flex;
    justify-content: center;
    padding: 0 0 80px 0;
}

.main-service .section-container .service-para {
    padding: 30px 0 50px 0;
}

.main-service .section-container .ser-para {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--text-grey);
    font-size: var(--secondary-text-size);
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.service-grid .service-item {
    width: 100%;
    height: 100%;
}

.service-grid .service-item img {
    width: 100%;
    height: 100%;
}

.service-grid .service-item-tow .service-item-sec {
    display: flex;
    border: #aaa3a36b solid 1px;
    padding: 10px;
    position: relative;
    margin: 10px 0 0 0;
}

.service-grid .service-item-tow h5 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

.service-grid .service-item-tow .service-item-sec i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-grey);
}
/* Service animate start */
.iconAnimation,.iconAnimation2,.iconAnimation3 {
    cursor: pointer;
}

.animate {
    animation: chevron .4s;
    animation-fill-mode: forwards;
}

.animate2 {
    animation: chevron2 .4s;
    animation-fill-mode: forwards;
}

.animate3 {
    animation: chevron3 .4s;
    animation-fill-mode: forwards;
}
/* Service animate end */
/* Service-Keyframe animation start */
@keyframes chevron {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}

@keyframes chevron2 {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}

@keyframes chevron3 {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}
/* Service-Keyframe animation end */
.service-grid .service-item-tow .ser-item-para p {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    border: 1px solid #aaa3a36b;
    margin: 0;
    padding: 20px;
    border-top: none;
    /* height: 110px; */
    transition: .4s;
    /* display: none; */
}


/* Service end */
/* Jon-slider start */
.main-jon-slider {
    position: relative;
    top: 550px;
    background-color: #f9f1f1;
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0;
}

.main-jon-slider .section-container .jon-item {
    display: flex;
    align-items: center;
}

.main-jon-slider .section-container .jon-item img {
   width: 120px;
}

.main-jon-slider .section-container .jon-item .jon-doe {
    color: var(--text-grey);
    padding: 20px 45px;
}

.main-jon-slider .section-container .jon-item .jon-doe p {
    letter-spacing: .2px;
    word-spacing: .2px;
    font-size: 17px;
    font-weight: 300;
}

.main-jon-slider .section-container .jon-item .jon-doe h4 {
    color: #000;
    font-family: var(--heading-font);
    margin: 0 0 0 50px;
    font-size: 20px;
}

.main-jon-slider .section-container .jon-item .jon-doe h4::before {
    content: '';
    position: absolute;
    left: 15%;
    bottom: 24%;
    width: 40px;
    height: 2px;
    background-color: var(--orenge-1);
}
/* Jon-slider end */
/* Who we are start */
.main-who {
    position: relative;
    top: 620px;
    display: flex;
    justify-content: center;
    padding: 0 0 5rem 0;
}

.main-who .section-container .who-m {
    padding: 30px 0 0 0;
}

.main-who .section-container .who-para {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    margin: 0;
    text-align: center;
}

.main-who .img-section {
    margin: 4rem 0 0 0;
}

.main-who .tittle {
   letter-spacing: -8px !important;
}

#who-icon {
   margin: 0;
   padding: 0;
}

#who-icon i {
   font-size: 25px;
   background-color: var(--yollow-1);
   color: var(--orenge-1);
   padding: 10px 20px 10px 10px;
   transition: all .4s;
}

#who-icon i:hover {
    background-color: var(--orenge-1);
    color: var(--bg-white);
 }

/* who-name strat */
#who-name-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: center;
}

#who-name-grid .who-name h5 {
    margin: 20px 0 0 0;
    font-size: 15px;
    text-transform: uppercase;
    opacity: .8;
}

#who-name-grid .who-name p {
    margin: 10px 0 0 0;
    font-size: 12px;
    color: var(--text-grey);
}
/* who-name end */
/* Who we are end */
/* Partners start */
.main-partners {
    position: relative;
    top: 650px;
    display: flex;
    justify-content: center;
    background-color: #f9f1f1;
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.main-partners .section-container img {
    width: 100%;
    height: 100%;
}
/* Partners end */
/* What we do tow start */
.main-what-tow {
    position: relative;
    top: 750px;
    display: flex;
    justify-content: center;
}

.main-what-tow .section-container .who-m {
    padding: 30px 0 0 0;
}

.main-what-tow .section-container .who-para {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    margin: 0;
    text-align: center;
}
/* What we do tow end */
/* Main grid start */
.main-grid {
    position: relative;
    top: 820px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    /* height: 90vh; */
}

.c-1 {
    grid-column: span 1;
}

.r-2 {
    grid-row: span 2;
}

.main-grid .grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.main-grid .grid-item img {
    width: 100%;
    height: 100%;
}

.main-grid .grid-item .tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: var(--subtitle-size);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 400ms;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-gradient);
}

.main-grid .grid-item:hover .tittle {
    opacity: 1;
}

.main-grid .grid-item .tittle img {
    width: 25px;
}

.main-grid .grid-item .tittle p {
  font-size: 16px;
  margin: 5px 0 5px 0;
  font-weight: 100;
}

.main-grid .grid-item .tittle .g-para {
    font-size: 12px !important;
    opacity: .7;
}
/* Main grid end */
/* Joshua-slider start */
/* #main-joshua {
    top: 10rem;
} */

#main-joshua .main-jon-slider {
   background-color: var(--bg-white) !important;
   padding: 50px 0;
   position: relative;
   top: 850px;
}

#main-joshua .main-jon-slider .section-container .jon-item img {
    width: 150px;
}

#main-joshua .main-jon-slider .section-container .jon-item .jon-doe h4::before {
    left: 196px;
}
/* Joshua-slider end */
/* Happy clients start */
.main-happy {
    position: absolute;
    top: 380rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-happy img {
    width: 100%;
    height: 100%;
}

.main-happy .section-container {
    position: absolute;
    top: 50px;
}
/* Happy grid start */
.happy-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 45px 0 0 0;
}

.happy-grid .happy-item .first-item {
    display: flex;
}

.happy-grid .happy-item .first-item .item-sec-1 {
    height: 100%;
}

.happy-grid .happy-item .first-item .item-sec-1 img {
    width: 100px;
    margin: 0 25px;
}

.happy-grid .happy-item .first-item .item-sec-2 h6 {
    margin: 15px 0 5px 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.happy-grid .happy-item .first-item .item-sec-2 .graphic {
    font-size: 12px;
    margin: 5px 0 0 0;
}

.happy-grid .happy-item .first-item .item-sec-2 .graphic::before {
    content: "";
    position: absolute;
    /* top: 0; */
    width: 50px;
    height: 2px;
    background-color: var(--orenge-1);
    margin: 30px 0 0 0;
}

.happy-grid .happy-item .first-item .item-sec-2 .h-para {
    color: var(--text-grey);
    font-size: var(--secondary-text-size);
    padding: 20px 0 0 0;
    line-height: 1.4;
}
/* Happy grid end */
/* Happy clients end */
/* Our sotries start */
.main-stories {
    position: relative;
    top: 0;
    top: 96rem;
    display: flex;
    justify-content: center;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 50px; */
    width: 100%;
    height: 100%;
}

.blog-grid .blog-item {
    width: 100%;
    height: 100%;
}

.blog-grid .blog-item .blog-img {
    position: absolute;
    top: 150px;
    padding: 0 0 20px 0;
    overflow: hidden;
    height: 100%;
}

.blog-grid .blog-item .blog-img img {
    padding: 0 0 0 10px;
    width: 100%;
    height: 100%;
}

.blog-grid .blog-item .blog-img .blog-jan {
    position: absolute;
    bottom: 40px;
    left: 0;
    background-color: var(--pest-1);
    width: 55px;
    height: 60px;
    overflow: hidden;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-grid .blog-item .blog-img .blog-jan h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-light);
}

.blog-grid .blog-item .blog-img .blog-jan p {
    margin: 0;
    font-size: 12px;
    color: var(--text-light);
}

.blog-grid .blog-item .blog-letter {
    position: relative;
    top: 290px;
    margin: 0 0 0 10px;
}

.blog-grid .blog-item .blog-letter h5 {
   text-transform: uppercase;
   margin: 0 0 10px 0;
}

.blog-grid .blog-item .blog-letter p {
    font-size: 13px;
    margin: 0;
    color: var(--text-grey);
    padding: 0 0 15px 0;
    width: 85%;
}

.blog-grid .blog-item .blog-letter .main-blog-icon {
    display: flex;
    border-top: 1px solid #dfdbdb;
    padding: 15px 0 0 0;
    width: 100%;
}

.blog-grid .blog-item .blog-letter .main-blog-icon .blog-icon {
    display: flex;
    margin: 0 20px 0 0;
}

.blog-grid .blog-item .blog-letter .main-blog-icon .blog-icon i {
    color: var(--pest-1);
    margin: 0 5px 0 0;
}
/* Our sotries end */
/* Open map start */
.main-map {
    position: relative;
    top: 120rem;
    z-index: 5;
    width: 100%;
    height: 10rem;
}

.main-map .section-container .map-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--orenge-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-map .section-container .map-icon i {
    font-size: 20px;
}

.main-map .section-container .map-icon h2 {
    font-size: 20px;
}

.main-map .section-container .map-icon h2::before {
    top: 10px;
}
/* Open map end */
/* Footer start */
.main-footer {
    position: relative;
    top: 120rem;
    display: flex;
    justify-content: center;
    background-color: #fcf8f8;
    padding: 4rem 0 0 0;
}

.main-footer .section-container .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
/* First footer-item */
.main-footer .section-container .footer-grid .footer-item a {
    color: #bdb9b9;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-footer .section-container .footer-grid .footer-item .footer-para {
    font-size: 13px;
    color: var(--text-grey);
    line-height: 1.5;
    margin: 30px 0;
}

.main-footer .section-container .footer-grid .footer-item .foll {
    font-size: 15px;
    font-weight: 400;
}

.main-footer .section-container .footer-grid .footer-item h3 {
    border-bottom: 1px solid #c3b8b8;
    padding: 0 0 15px 0;
}

.main-footer .section-container .footer-grid .footer-item .footer-icon {
    display: flex;
    align-items: center;
}

.main-footer .section-container .footer-grid .footer-item .footer-icon p {
    color: var(--text-grey);
}

.main-footer .section-container .footer-grid .footer-item .footer-icon i {
    cursor: pointer;
    padding: 0 0 0 15px;
    color: var(--pest-1);
    transition: all .4s;
}

.main-footer .section-container .footer-grid .footer-item .footer-icon i:hover {
    color: #00b594;
}

.main-footer .section-container .footer-grid .footer-item form {
    margin: 15px 0 0 0;
    display: flex;
}

.main-footer .section-container .footer-grid .footer-item form input {
    border: 1px solid #d2cece;
    padding: 7px 12px;
    border-right: none;
}

.main-footer .section-container .footer-grid .footer-item form input::placeholder {
    color: #d8caca;
}

.main-footer .section-container .footer-grid .footer-item form button {
    padding: 8px 30px;
    background-color: var(--pest-1);
    color: var(--text-light);
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all .4s;
}

.main-footer .section-container .footer-grid .footer-item form button:hover {
    background-color: #00b594;
}
/* First footer-item end */
/* secound footer-item */
/* .sec-footer-item {
    width: 100%;
    height: 100%;
} */

.sec-footer-item h5 {
    text-transform: uppercase;
    font-size: var(--secondary-text-size);
    margin: 15px 0 30px 0;
    font-weight: 500;
}

.sec-footer-item .sec-footer-item {
    display: flex;
    margin: 0 0 18px 0;
}

.sec-footer-item .sec-footer-item img {
    height: 100%;
}

.sec-footer-item .sec-footer-item .sec-footer-para {
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 0 0 15px;
}

.sec-footer-item .sec-footer-item .sec-footer-para h5 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.sec-footer-item .sec-footer-item .sec-footer-para p {
    margin: 5px 0 0 0;
    color: var(--text-grey);
    font-size: 12px;
}
/* secound footer-item end */
/* Third footer-item start */
.main-thi-footer h5 {
    text-transform: uppercase;
    font-size: var(--secondary-text-size);
    margin: 15px 2px 30px 2px;
    font-weight: 500;

}

.main-thi-footer .thi-footer-img {
    letter-spacing: -2px;
    margin: 0 2px;
}

.main-thi-footer p {
   color: var(--text-grey);
   font-size: 12px;
   margin: 10px 2px;
}
/* template start */
.templete h5 {
    font-size: var(--secondary-text-size);
    font-weight: 600;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e0d6d6;
    padding: 20px 0 0 0;
    margin-bottom: 18px;
}

.templete .laaqiq {
    padding: 0 0 0 5px;
    color: var(--orenge-1);
}
/* template end */
/* Footer end */
/* Mobile section start */
/* Max width 1200px start */
@media only screen and (max-width: 1200px) {
#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
left: 12%;
}

.main-devices .back-img .section-container .display-img img {
    height: 384px;
}

.main-devices .back-img .section-container .white-img img {
    top: 250px;
    height: 300px;
}
}

#main-joshua .main-jon-slider {
    background-color: var(--bg-white) !important;
    padding: 50px 0 0 0;
    position: relative;
    top: 850px;
}

.main-happy img {
    height: 110%;
}

.main-stories {
    top: 103rem;
}

.main-map {
    top: 125rem;
}

.main-footer {
    top: 125rem;
}
/* Max width 1200px end */ 
/* Max width 1062px start */ 
@media only screen and (max-width: 1080px) {
.main-nav .navbar {
   width: 95%;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    left: 10%;
}

.header-num {
    left: 10px;
}

.header-num li {
    font-size: var(--secondary-text-size);
}

.section-container {
    margin: 0 30px;
}

.work-grid {
    margin: 80px 0 0 30px;
}

.service-grid {
    margin: 0 30px;
}

.main-jon-slider {
    padding: 50px 30px 10px 30px;
}

.main-stories {
    top: 92rem;
}

.main-happy {
    top: 363rem;
}

.main-happy img {
    height: 105%;
}

.happy-grid {
    padding: 45px 30px 0 0;
}

.main-map {
    top: 112rem;
}

.main-footer {
    top: 112rem;
}
}
/* Max width 1062px end */
/* Mobile section end */