/* VARIABLES */
:root {
    /* TEXT VARIABLES */
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #8d9cab;
    --text-orenge: #f5aeae;
    --text-yollow: #feec8b;
    --body-font: "Roboto", sans-serif;
    --heading-font: 'Kaushan Script', cursive;
    --heading-font-size: 25px;
    --h1-size: 100px;
    --h1-height: 108px;
    --h2-size: 50px;
    --h2-height: 75px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --subtitle-size: 30px;
    --subtitle-height: 35px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 15px;
    --secondary-text-height: 18px;
    --button-size: 16px;
  
    /* SPACING VARIABLES */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 72px;
    --standard-width: 1144px;
    /* COLOR VARIABLES */
    --yollow-1: #feec8b;
    --orenge-1: #f27878;
    --yoolow-2: #fce38a;
    --pest-1: #95e1d3;
    --primary-accent: #0a2540;
    --primary-button-hover: #6d7a88;
    --bg-white: #fff;
    --bg-light: #f7f9fc;

    --standard-box-shadow: 5px 5px 5px #95e1d3;
    --primary-gradient: linear-gradient(
      33.33deg,
      #e6818dc9,
      #eacd82bb
    );
  }

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow-x: hidden;
}
/* Layout style */
.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 400;
}

.subtitle {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size) !important;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

h2 {
    margin: 10px 0 30px 0;
    /* box-sizing: border-box; */
    font-size: var(--h4-size);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

 h2::before {
    content: "";
    position: absolute;
    /* top: 0; */
    width: 50px;
    height: 2px;
    background-color: var(--orenge-1);
    margin: 60px 0 0 0;
}
/* Layout style end */
/* Owl start */
#owl-posi .owl-item {
    height: 100vh;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 18%;
}

#owl-posi .owl-theme .owl-dots .owl-dot span{
    width: 200px;
    height: 2px;
    background-color: var(--bg-white);
}

#owl-posi .owl-theme .owl-dots .owl-dot.active span, #owl-posi .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--orenge-1);
}

#owl-posi {
    position: relative;
    top: 0;
}
/* Owl end */
/* Navbar start */
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav .navbar {
    position: absolute;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0 var(--spacing-md);
}

#mogo {
    color: var(--text-light);
    font-weight: 700;
    font-size: 30px;
}

.main-nav .navbar ul {
    display: flex;
}

.main-nav .navbar ul li a {
    margin: 0 var(--spacing-md);
    color: var(--text-light);
    text-transform: uppercase;
}

.main-nav .navbar ul li a:hover {
    color: var(--yollow-1);
    border-bottom: 2px solid var(--yollow-1);
    padding-bottom: var(--spacing-sm);
}

.main-nav .navbar ul li .non-line:hover {
    border-bottom: none !important;
}
/* Navbar end */

/* Hamburger start */
.hamburger {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 60px;
    display: none;
    z-index: 999;
}
.hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    background-color: #fff;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}

.animateBar1 {
    animation: flipBar1 .5s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 .5s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 .5s;
    animation-fill-mode: forwards;
}
/* Mobile Nav start */
.mobilenav {
    background-color: #67301d54;
    display: flex;
    flex-direction: column;
    width: 160px;
    padding: 16px 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -160px;
    transition: transform 0.5s;
    z-index: 3;
    margin: 0;
}

.openDarwer {
    transform: translate(-160px);
}

.main-nav .mobilenav a {
    color: #fff;
    position: relative;
    padding-top: 25px;
    text-transform: uppercase;
}

.main-nav .mobilenav li {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 15px; 
}

.main-nav .mobilenav a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: var(--yollow-1);
    width: 0;
    height: 2px;
    transition: .4s;
}

.main-nav .mobilenav ul li .non-line::before {
    background-color: none;
}

.main-nav .mobilenav li:hover a::before {
    width: 100%;
}

/* Keyframes for menu start */

@keyframes flipBar1 {
    form {
       transform: rotate(0)
    }
    to {
       transform: rotate(45deg) translate(4px, 6px)
    }
}

@keyframes fadeBar2 {
    form {
       transform: scale(1)
    }
    to {
       transform: scale(0)
    }
}

@keyframes flipBar3 {
    form {
       transform: rotate(0)
    }
    to {
       transform: rotate(-45deg) translate(4px, -6px)
    }
}

/* Keyframes for menu end */

/* Main-header start */
.main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    box-sizing: border-box;
}

.main-header p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: var(--heading-font);
    color: var(--text-light);
    margin: 0;
}

.main-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light);
    font-size: var(--h1-size);
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    line-height: .95;
}

.main-header h1::after {
    content: '';
    position: absolute;
    bottom: 70px;
    background-color: var(--bg-white);
    width: 50px;
    height: 2px;
}

.main-header .learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xl) 0 0 0;
    color: var(--text-light);
    border: 2px solid #fff;
    padding: 3px 15px;
    transition: all .20s;
}

.main-header a:hover {
    box-shadow: 4px 4px 2px 0px #fff;
}
/* Main-header end */
/* Header number start */
.header-num {
    position: absolute;
    bottom: 5px;
    left: 145px;
    z-index: 1;
    display: flex;
}

.header-num li {
    margin: 0 var(--spacing-xxl);
    list-style: none;
    color: var(--text-light);
    text-transform: uppercase;
}
/* Header number end */

/* What we do start */
.main-what {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.main-what .section-container .what-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .main-what .section-container .what-section h2 {
    margin: 0 0 10px 0;
} */

.main-what .section-container p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: var(--secondary-text-size);
}

.main-what .section-container .p-opa {
    color: var(--text-grey);
    margin: 30px 0 0 0;
}
/* img-section start */
.img-section {
    margin: 5rem 0;
}

.img-section .img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    width: 100%;
    
}

.img-section .img-grid .image-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
}

.img-section .img-grid .image {
    position: relative;
    overflow: hidden;
    transition: 400ms;
    width: 100%;
    height: 100%;
}

/* .img-section .img-grid .image:hover {
    box-shadow: 9px 9px 0px #95e1d3;
} */

.img-section .img-grid .tittle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: var(--subtitle-size);
    letter-spacing: 2px;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 400ms;
    font-weight: 500;
    cursor: pointer;
    background: var(--primary-gradient);
}

.img-section .img-grid .image:hover .tittle {
    opacity: 1;
}

.img-section .img-grid .image:hover {
    transform: translate(-8px, -8px);
}

.img-section .img-grid img {
    width: 100%;
    height: 100%;
}
/* img-section end */
/* What we do end */
/* counter-section start */
.main-coun {
    display: flex;
    justify-content: center;
    background-color: var(--pest-1);
}

.main-coun .section-container .coun-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.main-coun .section-container .coun-grid .coun-item {
    border-left: 1px solid #e7dfdf;
    padding: 50px 0;
}

#coun-right {
    border-right: 1px solid #e7dfdf;
}

.main-coun .section-container .coun-grid .coun-item h1 {
    font-size: var(--h2-size);
}

.main-coun .section-container .coun-grid .coun-item h1,.main-coun .section-container .coun-grid .coun-item p {
    margin: 5px 0 5px 0;
    color: var(--text-light);
}
/* counter-section end */
/* We work with start */
.main-work {
    display: flex;
    justify-content: center;
    margin: 5rem 0 3rem 0;
}

.main-work .section-container .subtitle,.main-work .section-container h2 {
    display: flex;
    justify-content: center;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
    margin: 80px 0 0 0;
}

.work-grid .work-item {
    display: flex;
}

.work-grid .work-item .work-letter {
    margin: 0 0 0 30px;
}

.work-grid .work-item .work-letter h5 {
    text-transform: uppercase;
    margin: 0;
    font-size: 15px;
}

.work-grid .work-item .work-letter p {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    width: 80%;
}

.work-grid .work-line {
    border-bottom: 1px solid #aca7a755;
    padding: 0 0 35px 0;
}
/* We work with  */
/* For all devices start */
/* img {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 30px 0 0 0;
} */
.main-devices .back-img{
    height: 600px;
}


.main-devices .back-img .section-container {
    position: relative;
    margin: 60px 0 0 0;
}

#devices-center {
    display: flex;
    justify-content: center;
}

.main-devices .back-img .section-container .display-img {
    display: flex;
    justify-content: center;
}

.main-devices .back-img .section-container .display-img img {
    position: absolute;
    width: 475px;
    height: 470px;
    margin: 20px 0 0 0;
}
/* For all devices end */
/* Service start */
.main-service {
    margin: 80px 0 0 0;
    display: flex;
    justify-content: center;
    padding: 0 0 80px 0;
}

.main-service .section-container .service-para {
    padding: 30px 0 50px 0;
}

.main-service .section-container .ser-para {
    display: flex;
    justify-content: center;
    margin: 0;
    color: var(--text-grey);
    font-size: var(--secondary-text-size);
}

.service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.service-grid .service-item {
    width: 100%;
    height: 100%;
}

.service-grid .service-item img {
    width: 100%;
    height: 100%;
}

.service-grid .service-item-tow .service-item-sec {
    display: flex;
    border: #aaa3a36b solid 1px;
    padding: 10px;
    position: relative;
    margin: 10px 0 0 0;
}

.service-grid .service-item-tow h5 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 0 15px;
}

.service-grid .service-item-tow .service-item-sec i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-grey);
}
/* Service animate start */
.iconAnimation,.iconAnimation2,.iconAnimation3 {
    cursor: pointer;
}

.animate {
    animation: chevron .4s;
    animation-fill-mode: forwards;
}

.animate2 {
    animation: chevron2 .4s;
    animation-fill-mode: forwards;
}

.animate3 {
    animation: chevron3 .4s;
    animation-fill-mode: forwards;
}
/* Service animate end */
/* Service-Keyframe animation start */
@keyframes chevron {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}

@keyframes chevron2 {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}

@keyframes chevron3 {
    form {
       transform: rotate(0);
    }
    to {
       transform: rotate(180deg);
    }
}
/* Service-Keyframe animation end */
.service-grid .service-item-tow .ser-item-para p {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    border: 1px solid #aaa3a36b;
    margin: 0;
    padding: 20px;
    border-top: none;
    /* height: 110px; */
    transition: .4s;
    /* display: none; */
}


/* Service end */
/* Jon-slider start */
.main-jon-slider {
    background-color: #f9f1f1;
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0;
}

.main-jon-slider .section-container .jon-item {
    display: flex;
    align-items: center;
}

.main-jon-slider .section-container .jon-item img {
   width: 120px;
}

.main-jon-slider .section-container .jon-item .jon-doe {
    color: var(--text-grey);
    padding: 20px 45px;
}

.main-jon-slider .section-container .jon-item .jon-doe p {
    letter-spacing: .2px;
    word-spacing: .2px;
    font-size: 17px;
    font-weight: 300;
}

.main-jon-slider .section-container .jon-item .jon-doe h4 {
    color: #000;
    font-family: var(--heading-font);
    margin: 0 0 0 50px;
    font-size: 20px;
}

.main-jon-slider .section-container .jon-item .jon-doe h4::before {
    content: '';
    position: absolute;
    left: 15%;
    bottom: 24%;
    width: 40px;
    height: 2px;
    background-color: var(--orenge-1);
}
/* Jon-slider end */
/* Who we are start */
.main-who {
    display: flex;
    justify-content: center;
    padding: 0 0 5rem 0;
    margin: 80px 0 0 0;
}

.main-who .section-container .who-m {
    padding: 30px 0 0 0;
}

.main-who .section-container .who-para {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    margin: 0;
    text-align: center;
}

.main-who .img-section {
    margin: 4rem 0 0 0;
}

.main-who .tittle {
   letter-spacing: -8px !important;
}

#who-icon {
   margin: 0;
   padding: 0;
}

#who-icon i {
   font-size: 25px;
   background-color: var(--yollow-1);
   color: var(--orenge-1);
   padding: 10px 20px 10px 10px;
   transition: all .4s;
}

#who-icon i:hover {
    background-color: var(--orenge-1);
    color: var(--bg-white);
 }

/* who-name strat */
#who-name-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: center;
}

#who-name-grid .who-name h5 {
    margin: 20px 0 0 0;
    font-size: 15px;
    text-transform: uppercase;
    opacity: .8;
}

#who-name-grid .who-name p {
    margin: 10px 0 0 0;
    font-size: 12px;
    color: var(--text-grey);
}
/* who-name end */
/* Who we are end */
/* Partners start */
.main-partners {
    display: flex;
    justify-content: center;
    background-color: #f9f1f1;
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.main-partners .section-container img {
    width: 100%;
    height: 100%;
}
/* Partners end */
/* What we do tow start */
.main-what-tow {
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0 ;
}

.main-what-tow .section-container .who-m {
    padding: 30px 0 0 0;
}

.main-what-tow .section-container .who-para {
    font-size: var(--secondary-text-size);
    color: var(--text-grey);
    margin: 0;
    text-align: center;
}
/* What we do tow end */
/* Main grid start */
.main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 80px 0 0 0;
}

.c-1 {
    grid-column: span 1;
}

.r-2 {
    grid-row: span 2;
}

.main-grid .grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: 400ms;
}

.main-grid .grid-item img {
    width: 100%;
    height: 100%;
}

.main-grid .grid-item .tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: var(--subtitle-size);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 400ms;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-gradient);
}

.main-grid .grid-item:hover .tittle {
    opacity: 1;
}

.main-grid .grid-item .tittle img {
    width: 25px;
}

.main-grid .grid-item .tittle p {
  font-size: 16px;
  margin: 5px 0 5px 0;
  font-weight: 100;
}

.main-grid .grid-item .tittle .g-para {
    font-size: 12px !important;
    opacity: .7;
}
/* Main grid end */
/* Main-joshua start */
#main-joshua .main-jon-slider {
   background-color: var(--bg-white) !important;
   padding: 50px 0;
}

#main-joshua .main-jon-slider .section-container .jon-item img {
    width: 150px;
}

#main-joshua .main-jon-slider .section-container .jon-item .jon-doe h4::before {
    left: 196px;
}
/* Joshua-slider end */
/* Happy clients start */





/* Happy flex end */
/* Happy clients end */
/* Our sotries start */




/* Our sotries end */
/* Open map start */




/* Open map end */
/* Footer start */




/* Footer end */
/* Mobile section start */
/* Max width 1200px start */
@media only screen and (max-width: 1200px) {
#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
left: 12%;
}

.main-devices .back-img .section-container .display-img img {
    height: 470px;
}

.main-devices .back-img .section-container .white-img img {
    top: 250px;
    height: 300px;
}

#main-joshua .main-jon-slider {
    padding: 50px 0 0 0;
}
}
/* Max width 1200px end */ 
/* Max width 1080px start */ 
@media only screen and (max-width: 1080px) {
.main-nav .navbar {
   width: 95%;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    left: 10%;
}

.owl-carousel .owl-item img {
    width: 116%;
}

.header-num {
    left: 10px;
}

.header-num li {
    font-size: var(--secondary-text-size);
}

.section-container {
    margin: 0 30px;
}

.work-grid {
    margin: 80px 0 0 30px;
}

.service-grid {
    margin: 0 30px;
}

.main-devices .back-img img {
    height: 104%;
}

.main-devices .back-img .section-container .display-img img {
    height: 470px;
}

.main-jon-slider {
    padding: 50px 30px 10px 30px;
}
}
/* Max width 1070px end */
/* Max width 997px start */ 
@media only screen and (max-width: 997px) {
.main-header p {
    font-size: 30px;
}

.main-header h1 {
    font-size: 75px;
 }

 #owl-posi .owl-theme .owl-dots .owl-dot span {
    width: 160px;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    left: 14%;
}

.owl-carousel .owl-item img {
    width: 121%;
}

.header-num {
    left: 40px;
}

.header-num li {
    font-size: 12px;
}

.header-num li {
    margin: 0 var(--spacing-xl);
}

.main-devices .back-img .section-container .display-img img {
    height: 470px;
}
}
/* Max width 997px end */
/* Max width 937px start */ 
@media only screen and (max-width: 937px) {
    .owl-carousel .owl-item img {
        width: 129%;
    }

    .main-what .section-container p {
        font-size: 12px;
    }

    .main-who .section-container .who-para {
        font-size: 12px;
    }

    .main-what-tow .section-container .who-para {
        font-size: 12px;
    }
}
/* Max width 937px end */
/* Max width 876px start */ 

@media only screen and (max-width: 876px) {
.owl-carousel .owl-item img {
    width: 138%;
}

#owl-posi .owl-theme .owl-dots .owl-dot span {
    width: 140px;
}

.header-num li {
    margin: 0 55px 0 50px;
}

.main-service {
    top: 500px;
}

.main-service .section-container .ser-para {
    font-size: 12px;
}
}
/* Max width 876px end */
/* Max width 768px start */
@media only screen and (max-width: 768px) {
.main-nav {
    position: fixed;
    top: 0;
    z-index: 99;
    /* margin:  0 0 0 30px; */
    background: #0000005e;
    height: 80px;
    width: 100%;
}

.hamburger {
    position: fixed;
    display: block;
}

.main-nav .navbar ul {
    display: none;
}

#mogo {
    padding-top: 20px;
}

#owl-posi .owl-item {
    height: 85vh;
}

.owl-carousel .owl-item img {
    width: 135%;
}

#owl-posi .owl-theme .owl-dots .owl-dot span {
    width: 100px;
}

#owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
    left: 20%;
    bottom: 5%;
}

.header-num {
    left: 88px;
    bottom: 14%;
}

.header-num li {
    margin: 0 35px 0 30px;
}

.main-coun .section-container .coun-grid .coun-item h1 {
    font-size: var(--h3-size);
}

.main-coun .section-container .coun-grid .coun-item p {
    font-size: 12px;
}

.img-section .img-grid .tittle {
    font-size: 12px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 50px;
    margin: 80px 0 0 0;
}

.work-grid .work-line {
    border-bottom: none;
}

.work-grid .work-item .work-letter p {
    width: 100%;
}

.main-work {
    margin-bottom: 0;
}

.main-devices .back-img .section-container .display-img img {
    height: 470px;
    width: 410px;
}

.main-devices .back-img img {
    height: 90%;
}

.service-grid {
    grid-template-columns: 1fr;
}

.main-service {
    top: 480px;
}
.main-service {
    padding: 0 0 30px 0;
}

#who-icon i {
    font-size: 15px;
}
.main-jon-slider .section-container .jon-item .jon-doe p {
    font-size: 14px;
}

.main-jon-slider .section-container .jon-item img {
    width: 110px;
}

.main-jon-slider .section-container .jon-item .jon-doe h4::before {
    left: 26%;
}
}
/* Max width 768px end */
/* Max width 712px start */
@media only screen and (max-width: 712px) {
    .main-header h1 {
        font-size: 60px;
    }

    .main-header {
        top: 40%; 
    }

    .main-header a {
        font-size: 14px;
    }

    #owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
        bottom: 20%;
    }

    .header-num {
        left: 80px;
        bottom: 26%;
    }

    .owl-carousel .owl-item img {
        height: 75vh;
    }

    .main-jon-slider .section-container .jon-item {
        height: 23vh;
    }

    .main-jon-slider .section-container .jon-item img {
        height: 100px;
    }

    .main-jon-slider .section-container .jon-item .jon-doe h4::before {
        left: 150px;
        top: 120px;
    }

    #main-joshua .main-jon-slider .section-container .jon-item img {
        width: 110px;
        height: 100px;
        margin-left: 73px;
    }

    .main-jon-slider .section-container .jon-item .jon-doe {
        padding: 20px 25px;
    }

    .main-jon-slider .section-container .jon-item .jon-doe p {
        font-size: 13px;
    }

}
/* Max width 712px end */
/* Max width 623px start */
@media only screen and (max-width: 623px) {
    #owl-posi .owl-theme .owl-dots .owl-dot span {
        width: 85px;
    }

    #owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
        left: 16%;
    }

    .header-num {
        left: 42px;
    }

    .header-num li {
        font-size: 10px;
        margin: 0 30px 0 25px;
    }

    .main-devices .back-img .section-container .display-img img {
        height: 470px;
}

}
/* Max width 623px end */
/* Max width 503px start */
@media only screen and (max-width: 503px) {
    #owl-posi .owl-theme .owl-nav.disabled+.owl-dots {
        left: 8%;
    }

    .header-num {
        left: -15px;
    }

    .main-what {
        margin: 0;
    }

    .img-section .img-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-section .img-grid .tittle {
        font-size: 25px;
    }
    
    #who-icon i {
        font-size: 25px;
    }

.main-coun .section-container .coun-grid .coun-item h1 {
    font-size: var(--h4-size);
}

.work-grid {
    grid-template-columns: repeat(1, 1fr);
}

.work-grid .work-line {
    padding: 0;
}


#who-name-grid {
    display: none;
}

.main-devices .back-img .section-container .display-img img {
    height: 470px;
    width: 380px;
}

.main-jon-slider .section-container .jon-item {
    height: 27vh;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px;
}

.main-jon-slider .section-container .jon-item .jon-doe h4::before {
    left: 138px;
    top: 140px;
}

.main-jon-slider .section-container .jon-item .jon-doe {
    padding: 20px 0px 20px 20px;
}

.main-grid .grid-item .tittle p {
    font-size: 10px;
}

.main-grid .grid-item .tittle .g-para {
    font-size: 11px !important;
}

.main-grid .grid-item .tittle img {
    width: 20px;
}
}
/* Max width 503px end */
/* Mobile section end */